<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/ben.jpeg"></div>
            <h3>@ViewBag.van</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Dashboard/index"><span class="fa fa-home mr-3"></span> Dashboard</a>
        </li>
        <li>
            <a href="/Category/index/"><span class="fa fa-trophy mr-3"></span> Kategoriler</a>
        </li>

        <li>
            <a href="/Project/index/"><span class="fa fa-product-hunt mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/About/index/"><span class="fa fa-address-book mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Statistic/index/"><span class="fa fa-bar-chart mr-3"></span> İstatistik</a>
        </li>
        <li>
            <a href="/Feature/index/"><span class="fa fa-support mr-3"></span> One Cıkanlar</a>
        </li>

        <li>
            <a href="/Service/index/"><span class="fa fa-server mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/SocialMedia/index/"><span class="fa fa-weixin mr-3"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Testimonial/index/"><span class="fa fa-adjust mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="/Default/index/"><span class="fa fa-road mr-3"></span> Siteye Git</a>
        </li>

    </ul>

</nav>
