@model List<MeyawoPortfolio.Models.TblFeature>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout1.cshtml";
}

<h2>One Cıkanlar Duzenleme Sayfası</h2>

<table class="table table-bordered">
    <tr>

        
        <th>Header</th>
        <th>Title</th>
        <th>İsim Soyisim</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Header</td>
            <td>@item.Title</td>
            <td>@item.NameSurname</td>
            <td><a href="/Feature/EditFeature/@item.FeatureID" class="btn btn-success">Guncelle</a></td>
        </tr>
    }
</table>






