@model MeyawoPortfolio.Models.TblCategory

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/AdminLayout/_Layout1.cshtml";
}

<h2> Kategori Guncelleme Sayfası</h2>
<form method="post">
    <label>Kategori ID</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryID" name="CategoryID" />
    <br />
    <label>Kategori Adı</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
    <br />
    <button class="btn btn-info">Guncelle</button>
</form>




