@model MeyawoPortfolio.Models.TblService
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/_Layout1.cshtml";
}




<h2> Hizmet Guncelleme Sayfası</h2>
<form method="post">
    <label>Hizmet ID</label>
    <input type="text" class="table table-bordered" value="@Model.ServiceID" name="ServiceID" />
    <br />
    <label>Hizmet Baslıgı</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <br />
    <label>Hizmet Gorseli</label>
    <input type="text" class="table table-bordered" value="@Model.ImageUrl" name="ImageUrl" />
    <br />
    <label>Hizmet Acıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description">@Model.Description</textarea>
    <br />
    <button class="btn btn-info">Guncelle</button>
</form>


