@model MeyawoPortfolio.Models.TblTestimonial

@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/_Layout1.cshtml";
}


<h2>Yeni Referans Girisi</h2>

<form method="post">

    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table-bordered" })
    <br />
    <label>Acıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "table table-bordered" })
    <br />
    <label>Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "table table-bordered" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

