@model List<MeyawoPortfolio.Models.TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout1.cshtml";
}



<h2>Gelen Mesajlar Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Mesaj ID</th>
        <th>Gonderen</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Mesajı Ac</th>
        <th>Mesajı Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.MessageCategory</td>
            <td>@item.SendDate</td>
            <td><a href="$" class="btn btn-warning">Mesajı Ac</a></td>
            <td><a href="$" class="btn btn-warning">Mesajı Sil</a></td>
        </tr>
    }
</table>



